.post {
	display: flex;
	align-items: flex-start;
	border-bottom: 2px solid rgb(150,250,150);
	padding-bottom: 15px;
	padding-top: 15px;
}

.postBody{
	flex: 1;
	padding: 10px;
	margin: 10px;
}

.postHeaderDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.postHeaderText {
  display: flex;
  font-size: 20px;
  color: rgb(150,10,10);
  margin-bottom: 5px;
  text-align: left;
}

.postHeaderSpecial {
  font-weight: 200;
  font-size: 12px;
  color: rgb(0,10,100);
  padding-left: 10px;
  margin-top: 5px;
}